{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <div class="row">
        <div class="col s6 offset-s3">
            <h2 class="header" style="text-align: -webkit-center;">Log in</h2>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="validate"/>

                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required" />
                    </div>
                    <div class="card-action">
                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn"/>
                        <a href="{{ path('fos_user_registration_register') }}" class="btn grey darken-3" style="float: right;">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock fos_user_content %}
